.container {
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: column; 
}

.box {
    width: 50px;
    height: 50px;
    background: gold;
    margin: 10px
}

@media screen and (min-width: 600px) {
    .container {
        border: 3px solid lightgrey;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
